<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- DEFAULT PAGE -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- SERVLET 1 -->
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>org.wpattern.frameworks.servlets.hello.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<!-- SERVLET 2 -->
	<servlet>
		<servlet-name>multipleServlet</servlet-name>
		<servlet-class>org.wpattern.frameworks.servlets.multiple.MultipleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>multipleServlet</servlet-name>
		<url-pattern>/multiple</url-pattern>
	</servlet-mapping>
</web-app>
